<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<div id="container">
    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess!</p>

    <p>{{request.session.message}}</p>
    <p>{{request.session.answer}}</p>

    <form action="/check_num" method="POST">
        {% csrf_token %}
        <input type="text" name="user_input"><br><br>
        <button type='submit'>Submit</button>
    </form>

    <button type="submit"><a href="/restart">Play Again</a></button>
</div>